* {
	font-family: comic sans ms;
}

a:link {
    text-decoration: none;
}

#wrap {
	box-shadow: 0px 0px 30px 1px gray;
	border-radius: 10px;
}

/* head */
#header1 {
	background-color: #ff9900;
}

#title {
	height: 42px;
	color: white;
	font-size: 30px;
	text-align: center;
}

#menu {
	height: 39px;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #efefef;
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
	margin-top: 1px;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #ff9900;
	box-shadow: 0px 0px 5px 2px white;
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block; 
	padding: 8px 20px;
	color: #ff9900; 
	text-decoration: none;
}

nav ul ul {
	background: #F5AB35; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none;
	border-top: 1px solid #F5AB35;
	border-bottom: 1px solid #efefef;
	position: relative;
}

nav ul ul li a {
	padding: 6px 32px;
	color: #fff;
} 

nav ul ul li a:hover {
	background: #ff9900;
}

nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}

 /*isi */
#inside {
	height: 600px;
}

 /*kaki */
#footer {
	height: 40px;
	background-color: #ff9900;
	text-align: right;
	padding-right: 20px;
	color: white;
}